/* ========================== */
/*        CSS Variables       */
/* ========================== */
:root {
  --general-bg: #FFFFFF;
  --secondary-bg: #FFAEAE;
  --general-text: #252525;
  --secondary-text: #FFFFFF;

  --accent-green: #00B778;
  --accent-pink: #FB627B;
  --accent-yellow: #ffd600;

  --title-black: #252525;

  --color-dark: #1a1a1a;
  --color-light: #f9f9f9;
  --color-gray: #b0b0b0;
  --color-red: #ff4d4d;

  --max-width: 1480px;
  --radius: 4px;

  --font-main: 'Golos Text', sans-serif;

  --fs-h1: 3rem;
  /* ~40px */
  --fs-h2: 3.4rem;
  --fs-h3: 1.5rem;
  /* ~24px */
  --fs-h4: 1.25rem;
  --fs-chat-bold: 2rem;
  --fs-chat-light: 1.75rem;
  --fs-body: 1rem;
  /* 16px */
  --fs-small: 0.875rem;
  /* 14px */

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --lh-tight: 1.2;
  --lh-normal: 1.6;
  --lh-loose: 1.8;

  --transition-fast: all 0.2s ease;
  --transition: all 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--general-bg);
  color: var(--general-text);
  overflow-x: hidden;
  line-height: var(--lh-normal);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ========================== */
/*         Layout             */
/* ========================== */
/* ========================== */
/*         Layout             */
/* ========================== */
.wrapper {
  position: relative;
  width: 100%;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.section {
  padding: 0 0;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
  color: var(--general-text);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-loose);
  color: var(--general-text);
  padding-left: 1.9em;
}

p {
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  color: var(--general-text);
}